In [1]:
from Code.UtilityFunctions.run_query import run_query

### Average Indegree (overall)

In [4]:
sparql_query = """
SELECT AVG(?indegree) as ?avgIndegree
WHERE {
    SELECT ?o (COUNT(?p) as ?indegree)
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s ?p ?o .
    }
    GROUP BY ?o
}
"""

run_query(sparql_query, as_dataframe=True)

   avgIndegree.value
0  3.353450089746473

### Average Outdegree (overall)

In [3]:
sparql_query = """
SELECT AVG(?outdegree) as ?avgOutdegree
WHERE {
    SELECT ?s COUNT(?p) as ?outdegree
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s ?p ?o .
    }
    GROUP BY ?s
}
"""

run_query(sparql_query, as_dataframe=True)

   avgOutdegree.value
0  12.200774898295313

### Average Indegree (business)

In [2]:
sparql_query = """
SELECT AVG(?indegree) as ?avgIndegree
WHERE {
    SELECT ?o (COUNT(?p) as ?indegree)
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?o rdfs:Class schema:LocalBusiness .
        ?s ?p ?o .
    }
    GROUP BY ?o
}
"""

run_query(sparql_query, as_dataframe=True)

    avgIndegree.value
0  46.494619078658561

### Average Outdegree (business)

In [3]:
sparql_query = """
SELECT AVG(?outdegree) as ?avgOutdegree
WHERE {
    SELECT ?s COUNT(?p) as ?outdegree
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s rdfs:Class schema:LocalBusiness .
        ?s ?p ?o .
    }
    GROUP BY ?s
}
"""

run_query(sparql_query, as_dataframe=True)

    avgOutdegree.value
0  114.016661567318053

### Average Indegree (user)

In [4]:
sparql_query = """
SELECT AVG(?indegree) as ?avgIndegree
WHERE {
    SELECT ?o (COUNT(?p) as ?indegree)
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?o rdfs:Class schema:Person .
        ?s ?p ?o .
    }
    GROUP BY ?o
}
"""

run_query(sparql_query, as_dataframe=True)

   avgIndegree.value
0  3.973627406248915

### Average Outdegree (user)

In [5]:
sparql_query = """
SELECT AVG(?outdegree) as ?avgOutdegree
WHERE {
    SELECT ?s COUNT(?p) as ?outdegree
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s rdfs:Class schema:Person .
        ?s ?p ?o .
    }
    GROUP BY ?s
}
"""

run_query(sparql_query, as_dataframe=True)

   avgOutdegree.value
0  74.104365065192009

### Unique predicates in jsons

In [33]:
import sys
sys.path.append(sys.path[0][:sys.path[0].find('DVML-P7') + len('DVML-P7')])
import json
from Code.UtilityFunctions.get_data_path import get_path
predicates = set()
# Open JSON file for reading
files = [
        'yelp_academic_dataset_business.json',
        'yelp_academic_dataset_user.json',
        'yelp_academic_dataset_review.json',
        'yelp_academic_dataset_checkin.json',
        'yelp_academic_dataset_tip.json'
    ]
for i in files:
    with open(file=get_path(i), mode="r") as file:
        # Iterate through each line in the file
        for line in file:
            # Parse line as a dictionary
            data = json.loads(line)
            for keys in data.keys():
                if keys == 'attributes' and type(data[keys]) != type(None):
                    for key in data[keys].keys():
                        if key in ["BusinessParking", "GoodForMeal", "Ambience", "Music", "BestNights", "HairSpecializesIn", "DietaryRestrictions"]:
                            dictionaries = json.loads(data[keys][key].replace("'", '"').replace("None", "null").replace('u"', '"').replace("True", "true").replace("False", "false"))
                            if type(dictionaries) != type(None):
                                for k in dictionaries.keys():
                                    predicates.add(k)
                        predicates.add(key)
                if keys == 'hours' and type(data[keys]) != type(None):
                    for key in data[keys].keys():
                        predicates.add(key)
                predicates.add(keys)
len(predicates)

In [35]:
predicates

{'AcceptsInsurance',
 'AgesAllowed',
 'Alcohol',
 'Ambience',
 'BYOB',
 'BYOBCorkage',
 'BestNights',
 'BikeParking',
 'BusinessAcceptsBitcoin',
 'BusinessAcceptsCreditCards',
 'BusinessParking',
 'ByAppointmentOnly',
 'Caters',
 'CoatCheck',
 'Corkage',
 'DietaryRestrictions',
 'DogsAllowed',
 'DriveThru',
 'Friday',
 'GoodForDancing',
 'GoodForKids',
 'GoodForMeal',
 'HairSpecializesIn',
 'HappyHour',
 'HasTV',
 'Monday',
 'Music',
 'NoiseLevel',
 'Open24Hours',
 'OutdoorSeating',
 'RestaurantsAttire',
 'RestaurantsCounterService',
 'RestaurantsDelivery',
 'RestaurantsGoodForGroups',
 'RestaurantsPriceRange2',
 'RestaurantsReservations',
 'RestaurantsTableService',
 'RestaurantsTakeOut',
 'Saturday',
 'Smoking',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'WheelchairAccessible',
 'WiFi',
 'address',
 'africanamerican',
 'asian',
 'attributes',
 'average_stars',
 'background_music',
 'breakfast',
 'brunch',
 'business_id',
 'casual',
 'categories',
 'city',
 'classy',
 'coloring',
 'compliment_cool',
 'compliment_count',
 'compliment_cute',
 'compliment_funny',
 'compliment_hot',
 'compliment_list',
 'compliment_more',
 'compliment_note',
 'compliment_photos',
 'compliment_plain',
 'compliment_profile',
 'compliment_writer',
 'cool',
 'curly',
 'dairy-free',
 'date',
 'dessert',
 'dinner',
 'divey',
 'dj',
 'elite',
 'extensions',
 'fans',
 'friday',
 'friends',
 'funny',
 'garage',
 'gluten-free',
 'halal',
 'hipster',
 'hours',
 'intimate',
 'is_open',
 'jukebox',
 'karaoke',
 'kids',
 'kosher',
 'latenight',
 'latitude',
 'live',
 'longitude',
 'lot',
 'lunch',
 'monday',
 'name',
 'no_music',
 'perms',
 'postal_code',
 'review_count',
 'review_id',
 'romantic',
 'saturday',
 'soy-free',
 'stars',
 'state',
 'straightperms',
 'street',
 'sunday',
 'text',
 'thursday',
 'touristy',
 'trendy',
 'tuesday',
 'upscale',
 'useful',
 'user_id',
 'valet',
 'validated',
 'vegan',
 'vegetarian',
 'video',
 'wednesday',
 'yelping_since'}