In [1]:
from Code.UtilityFunctions.run_query import run_query

### Number of Triples

In [2]:
sparql_query = """
SELECT COUNT(*) as ?countTriples
FROM <http://www.yelpkg.com/yelp_kg>
WHERE {
  ?s ?p ?o .
}
"""

run_query(sparql_query, as_dataframe=True)

  countTriples.value
0          242247823

### Number of Unique Subjects

In [3]:
sparql_query = """
SELECT (COUNT(DISTINCT ?s) as ?countSubjects)
FROM <http://www.yelpkg.com/yelp_kg>
WHERE {
  ?s ?p ?o .
}
"""

run_query(sparql_query, as_dataframe=True)

  countSubjects.value
0            10495829

### Number of Unique Predicates

In [4]:
sparql_query = """
SELECT (COUNT(DISTINCT ?p) as ?countPredicates)
FROM <http://www.yelpkg.com/yelp_kg>
WHERE {
  ?s ?p ?o .
}
"""

run_query(sparql_query, as_dataframe=True)

  countPredicates.value
0                   144

### Number of Unique Objects

In [5]:
sparql_query = """
SELECT COUNT(DISTINCT ?o) as ?countObjects
FROM <http://www.yelpkg.com/yelp_kg>
WHERE {
  ?s ?p ?o .
}
"""

run_query(sparql_query, as_dataframe=True)

  countObjects.value
0           61450383

### Top 5 Most Prevalent Predicates

In [6]:
sparql_query = """
SELECT ?predicate COUNT(?predicate) as ?countPredicate
FROM <http://www.yelpkg.com/yelp_kg>
WHERE {
  ?s ?predicate ?o .
}
GROUP BY ?predicate
ORDER BY DESC(?countPredicate)
LIMIT 5
"""

run_query(sparql_query, as_dataframe=True)

                              predicate.value countPredicate.value
0                    https://schema.org/knows            105225474
1              https://schema.org/checkinTime             13353332
2  http://www.w3.org/2000/01/rdf-schema#Class             10342179
3              https://schema.org/dateCreated              9887092
4                      https://schema.org/url              9128523

### Top 5 Most Prevalent Classes

In [7]:
sparql_query = """
SELECT ?class (COUNT(DISTINCT ?s) as ?countClass)
FROM <http://www.yelpkg.com/yelp_kg>
WHERE {
  ?s rdfs:Class ?class .
}
GROUP BY ?class
ORDER BY DESC(?countClass)
LIMIT 5
"""

run_query(sparql_query, as_dataframe=True)

                                       class.value countClass.value
0                    https://schema.org/UserReview          6990280
1                        https://schema.org/Person          1987897
2  https://purl.archive.org/purl/yelp/ontology#Tip           908915
3                 https://schema.org/LocalBusiness           150346
4     https://schema.org/OpeningHoursSpecification           127123