In [1]:
import sys
sys.path.append(sys.path[0][:sys.path[0].find('DVML-P7') + len('DVML-P7')])
from Code.UtilityFunctions.get_data_path import get_path
import pandas as pd

from Code.UtilityFunctions.run_query import run_query

## Number of Schema types with a sameAs mapping to Wikidata

In [2]:
query = """
SELECT ?s ?qid ?qid_label
WHERE {
    ?s schema:sameAs ?qid .
    FILTER regex(?s, "^https://schema")
}
"""
run_query(query, as_dataframe=True)

,s.value,qid.value
0,https://schema.org/EmploymentAgency,http://www.wikidata.org/entity/Q261362
1,https://schema.org/ArtGallery,http://www.wikidata.org/entity/Q1007870
2,https://schema.org/GolfCourse,http://www.wikidata.org/entity/Q1048525
3,https://schema.org/MusicComposition,http://www.wikidata.org/entity/Q105543609
4,https://schema.org/HealthClub,http://www.wikidata.org/entity/Q1065656
...,...,...
133,https://schema.org/HinduTemple,http://www.wikidata.org/entity/Q842402
134,https://schema.org/PoliceStation,http://www.wikidata.org/entity/Q861951
135,https://schema.org/MusicVenue,http://www.wikidata.org/entity/Q8719053
136,https://schema.org/Resort,http://www.wikidata.org/entity/Q875157
137,https://schema.org/HighSchool,http://www.wikidata.org/entity/Q97961514

In [4]:
# In total we have 291 categories in the Yelp dataset mapped to Schema
138 / 291

0.4742268041237113

In [6]:
# And how many businesses have a mapped category to Wikidata?
query = """
SELECT DISTINCT ?biz 
WHERE {
    ?biz ?p ?s .
    ?biz rdfs:Class schema:LocalBusiness .
    ?biz schema:category ?yelpcat .
    ?yelpcat ?relation ?schemacat .
    ?schemacat schema:sameAs ?qid .
}
"""
run_query(query, as_dataframe=True)

                                                biz.value
0       https://purl.archive.org/purl/yelp/yelp_entiti...
1       https://purl.archive.org/purl/yelp/yelp_entiti...
2       https://purl.archive.org/purl/yelp/yelp_entiti...
3       https://purl.archive.org/purl/yelp/yelp_entiti...
4       https://purl.archive.org/purl/yelp/yelp_entiti...
...                                                   ...
128864  https://purl.archive.org/purl/yelp/yelp_entiti...
128865  https://purl.archive.org/purl/yelp/yelp_entiti...
128866  https://purl.archive.org/purl/yelp/yelp_entiti...
128867  https://purl.archive.org/purl/yelp/yelp_entiti...
128868  https://purl.archive.org/purl/yelp/yelp_entiti...

[128869 rows x 1 columns]

In [7]:
# Out of all unique businesses how many have at least one category mapped to Wikidata through schema?
128869 / 150346

0.8571495084671358